doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Hello Monkey
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="css/style.css")

  body
    //react container
    div#app
    
    //react
    script(src="js/bower_components/react/react.js")
    script(src="js/bower_components/react/react-dom.js")
    
    //fetch
    script(src="js/bower_components/fetch/fetch.js")
    
    //main react components
    script(src="js/app.js")
